<section class="hero is-dark is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-6">
        レコード一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @recipes.each do |recipe| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to recipe_path(recipe) do %>
                  <% if recipe.photo.attached? %>
                    <%= image_tag recipe.photo %>
                  <% end %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%#<%= attachment_image_tag recipe.user, :profile_image, fallback: "no-image/" %>
                    <% if recipe.user.image.attached? %>
                      <%= image_tag recipe.user.image %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%= link_to recipe.title, recipe_path(recipe) %></div>
                </div>
              </div>

              <div class="content">
                <time>
                  <%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>