 <section class="hero is-dark is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-6">
        プロフィール編集
      </h1>
    </div>
  </div>
</section>

<% if @user.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @user do |f| %>
          <div class="field">
             <%= f.label :username,"ユーザー名", class: "label"%>
             <%= f.text_field :username, class: "input" %>
          </div>
          
          <div class="field">
             <%= f.label :email, "メールアドレス", class: "label" %>
             <%= f.text_field :email, class: "input" %>
          </div>
          
          <div class="field">
             <%= f.label :profile, "一言メッセージ", class: "label" %>
             <%= f.text_field :profile, maxlength: 30, class: "textarea" %>
          </div>
          
          <div class="field">
              <%= f.label :profile_image, "プロフィール画像", class: "label" %>
              <%= f.file_field :image %><br>
          </div>
          
          <%= f.submit "更新", class: "button is-success" %>
          
        <% end %>
      </div>
    </div>
  </div>
</section>