<!DOCTYPE html>
<html>
  <head>
    <title>DONUT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar is-black p-5">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="bartitle">DONUT</h1>
        <% end %>
      </div>
      
      <% if user_signed_in? %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <%= link_to recipes_path, class: "navbar-item" do %>
              <h1 class="baritem">レコード一覧</h1>
              <% end %>
              <%= link_to new_recipe_path, class: "navbar-item" do %>
                <h1 class="baritem">レコード投稿</h1>
              <% end %>
              <%= link_to users_path, class: "navbar-item" do %>
                <h1 class="baritem">DONUT会員一覧</h1>
              <% end %>
              <%= link_to user_path(current_user), class: "navbar-item" do %>
                <h1 class="baritem">マイページ</h1>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: "navbar-item" do %>
                <h1 class="baritem">ログアウト</h1>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <%= link_to recipes_path, class: "navbar-item" do %>
                <h1 class="baritem">レコード一覧</h1>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>